@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

.btn {
  @apply flex items-center justify-between rounded-[1rem] border duration-300 min-w-max font-grotesk font-bold text-[1.8rem] tracking-[0.9px] leading-[normal] uppercase py-[1.4rem] px-[2.4rem];
}

.btn-neon {
  @apply text-accentColorBrightLightBlue bg-midnightDarkBlue py-[1.6rem] px-[3rem] space-x-[0.8rem];
}

.btn-neon svg {
  width: 24px;
  height: 24px;
}

.hero-background-home {
  @apply absolute z-0 bg-cover bg-no-repeat w-full top-[-7.5rem] left-1/2 -translate-x-1/2 bg-homeHeroMobile xs:bg-homeHeroDesktop xs:w-[144rem] xs:h-full;
  height: calc(100% + 7.5rem);
}

.hero-background-about {
  @apply bg-no-repeat bg-cover bg-center bg-aboutHeroMoble md:bg-agoutHeroDesktop md:bg-[length:144rem];
}

.hero-gradient-about {
  background: linear-gradient(
    90deg,
    rgb(170 22 22 / 0%) 0%,
    rgb(255 255 255 / 32.8%) 90%,
    rgb(255 255 255 / 90%) 95%,
    rgb(255 255 255) 100%
  );
}
