@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

@layer {
  details summary::-webkit-details-marker {
    display: none;
  }
}

.btn {
  @apply flex items-center justify-between rounded-[1rem] bg-primaryWaterBlue border border-midnightDarkBlue hover:bg-midnightDarkBlue hover:text-primaryWaterBlue duration-300 min-w-max font-grotesk font-bold text-[1.8rem] tracking-[0.9px] leading-[normal] uppercase py-[1rem] px-[1.4rem] space-x-[0.8rem] md:py-[1.4rem] md:px-[2.4rem];
}

.btn.smaller-text {
  @apply text-[1.6rem];
}

.btn svg {
  @apply duration-300;
  width: 24px;
  height: 24px;
}

.btn-neon {
  @apply text-accentColorBrightLightBlue hover:text-accentColorBrightLightBlue bg-midnightDarkBlue py-[1.6rem] px-[3rem];
}

.btn-blue {
  @apply bg-primaryWaterBlue text-midnightDarkBlue;
}

.btn-dark {
  @apply bg-midnightDarkBlue border-neutralColor10 hover:text-neutralColor10;
}

.btn-outlined {
  @apply bg-transparent border-neutralColor10 text-neutralColor10 hover:text-neutralColor10 hover:bg-transparent md:py-8 md:px-12;
}

.hero-background-home {
  @apply absolute z-0 bg-cover bg-no-repeat w-full top-[-7.5rem] left-1/2 -translate-x-1/2 bg-homeHeroMobile xs:bg-homeHeroDesktop xs:w-[144rem] xs:h-full;
  height: calc(100% + 7.5rem);
}

.mission-background {
  @apply bg-homeMissionMoble bg-cover bg-center md:bg-homeMissionDesktop md:bg-top 2xl:bg-center;
}

.hero-background-about {
  @apply bg-no-repeat bg-cover bg-center bg-aboutHeroMoble md:bg-agoutHeroDesktop md:bg-[length:144rem];
}

.hero-background-product {
  @apply bg-productHero bg-cover;
}

.footer-background {
  @apply bg-footerMobile bg-cover md:bg-footerDesktop;
}

.hero-gradient-about {
  background: linear-gradient(
    90deg,
    rgb(170 22 22 / 0%) 0%,
    rgb(255 255 255 / 32.8%) 90%,
    rgb(255 255 255 / 90%) 95%,
    rgb(255 255 255) 100%
  );
}

.topOffset6 {
  top: calc(50% - 6rem);
}

.details summary::before {
  position: absolute;
  content: '';
  width: 2.4rem;
  height: 2.4rem;
  background-image: url('../public/icons/arrow-left.svg');
  right: 0;
  transform: rotate(-90deg) translateX(50%);
  top: 50%;
}

.details[open] summary::before {
  transform: rotate(90deg);
  top: 25%;
}

@media screen and (min-width: 768px) {
  top: 0;
}
